* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    /* overflow: hidden; */
}

body {
    min-width: 100vw;
    min-height: 100vh;
    position: relative;
}

#field-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
}

#ball {
    z-index: 99;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    touch-action: none;
}